/* BASIC SETUP */
*{
    font-family: 'Poppins', sans-serif;
}
.legal-bg-primary{
    background: #B68C5A!important;
}
/* HIDE DROPDOWN DEFAULT ICON */
.dropdown-toggle::after{
    display: none!important;
}
.w-10{
    width: 10%;
}
/* HEADER BANNER */
.legal-header-banner{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}
/* HOVER CARDS */
.ls-hover-cards:hover{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.ls-slider-body-3{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/slider-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ls-slider-body-2{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}.ls-slider-body-1{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/slider-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* FAQ QUESTIONS FOCUS REMOVE */
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background-color: #cfe2ff!important;
}
/* FOR RESPONSIVENESS */
@media only screen and (min-width:768px) and (max-width:992px) {
    .legal-header-banner{
        height: 50vh;
    }
    .ls-md-w-75{
        width: 75% !important;
    }
    .w-md-25{
        width: 25%!important;
    }
    .w-md-100{
        width: 100%!important;
    }
}
@media only screen and (max-width:767px) {
    .legal-header-banner{
        height: 50vh;
    }
    .sm-w-100{
        width:100% !important;
    }
    .w-sm-100{
        width: 100%!important;
    }
    .w-sm-50{
        width: 50%!important;
    }
}