/* BASIC SETUP */
*{
    font-family: 'Poppins', sans-serif;
}
.legal-bg-primary{
    background: #B68C5A!important;
}
/* HIDE DROPDOWN DEFAULT ICON */
.dropdown-toggle::after{
    display: none!important;
}
/* HEADER BANNER */
.legal-header-banner{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}


/* FOR RESPONSIVENESS */
@media only screen and (min-width:768px) and (max-width:992px) {
    .legal-header-banner{
        height: 50vh;
    }
    .ls-md-w-75{
        width: 75% !important;
    }
}
@media only screen and (max-width:767px) {
    .legal-header-banner{
        height: 50vh;
    }
    .sm-w-100{
        width:100% !important;
    }
}